:root {
    --main-font: -apple-system, system-ui;
    --headings-font: Georgia, Cambria, "Times New Roman", Times, serif;
    --main-color: #1d355d;
    --text-color: rgba(41, 41, 41, 1);
    --container-desktop: 980px;
    --container-mobile: 85vw;
    --font-weight-bold: 600;
}

html {
    margin: 0;
    padding: 0;
}

.fc-body {
    font-family: var(--main-font);
    margin: 0 auto;
    color: var(--text-color);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.fc-img {
    width: 100vw;
    height: 60vw;
}

.fc-img.branded {
    height: 40vw;
}

.metas {
    font-family: var(--headings-font);
    font-size: 13px;
    margin: 10px 0 15px;
    color: var(--main-color);
}

.fc-article {
    margin: 15px;
}

.fc-article blockquote {
    margin: 20px 0;
    padding: 0 20px;
    border-left: 1px solid;
    font: italic 600 23px/28px var(--headings-font);
    color: var(--main-color);
}

.fc-article h1 {
    font: 28px/32px var(--headings-font);
    margin: 0;
}
.fc-article h1.branded {
    font-family: system-ui;
    font-weight: 700;
}

.fc-article h3 {
    color: var(--main-color);
    font-size: 24px;
}

.fc-article p {
    font-size: 18px;
    line-height: 28px;
}


.fc-article img {
    width: 100%;
}

.mrf-balcon__header {
    border-bottom: 2px solid #333;
}

.mrf-title--withSeparator {
    font-size: 16px;
    margin-bottom: 8px;
}

.mrf-article__thumb {
    display: flex;
    padding: 15px 0;
}

.mrf-article__image {
    box-sizing: border-box;
    position: relative;
    flex: none;
}

.mrf-image {
    object-fit: cover;
}

.mrf-article__link {
    text-decoration: none;
    color: #000;
    flex: 1;
}

.mrf-articleText {
    margin-top: 5px;
    margin-left: 10px;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 1fr;
    gap: 5px 0;
}

.mrf-article__title {
    font-size: 1em;
    margin: 0;
    grid-column: 1;
}

.mrf-article__subtitle {
    color: #737373;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
}

.mrf-article__thumb .mrf-article__image {
    height: 99px;
    width: 150px;
}
